@import "~bootstrap/scss/bootstrap";
.fa-bars {
  color: white;
}
.navbar {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.nav-item {
  margin: 0px 15px;
}

.navbar-brand {
  line-height: 0;
}
.nav-link,
.navbar-brand {
  color: white !important;
  cursor: pointer;
  outline: none;
}
.nav-link {
  font-size: 17px;
}
.active {
  .nav-link {
    color: #e5bc00 !important;
  }
}
.fa-canadian-maple-leaf {
  font-size: 50px;
}
@include media-breakpoint-down(md) {
  .navbar-nav {
    align-items: center;
  }
}
