@import "~bootstrap/scss/bootstrap";

.trailer-youtube {
  z-index: 1;
  background: #313131a1;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 100vh;
  left: 0px;
  height: 100%;
  .header-trailer {
    background: #000000;

    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 74%;
    margin: auto;
    .close {
      cursor: pointer;
      i {
        color: rgba(255, 255, 255, 0.678);
        font-size: 18px;
      }
    }
  }
  .container-trailer {
    justify-content: center;
    display: flex;
    background: #00000000;
    height: 84%;
    margin: auto;
    width: 74vw;
  }
}
@include media-breakpoint-down(sm) {
  .trailer-youtube {
    .header-trailer {
      width: 100vw;
    }
    .container-trailer {
      width: 100vw;
      height: 36%;
    }
    .header-trailer {
      margin-top: 25%;
    }
  }
}
@include media-breakpoint-up(xs) {
  .trailer-youtube {
    .header-trailer {
      width: 70vw;
    }
    .container-trailer {
      height: 90%;
      width: 70vw;
    }
  }
}
@include media-breakpoint-down(lg) {
  .trailer-youtube {
    .header-trailer {
      width: 74vw;
    }
    .container-trailer {
      height: 84%;
      width: 74vw;
    }
  }
}
@include media-breakpoint-down(md) {
  .trailer-youtube {
    .header-trailer {
      width: 95vw;
    }
    .container-trailer {
      height: 81%;
      width: 95vw;
    }
  }
}
@include media-breakpoint-down(sm) {
  .trailer-youtube {
    .header-trailer {
      width: 100vw;
    }
    .container-trailer {
      width: 100vw;
      height: 36%;
    }
    .header-trailer {
      margin-top: 25%;
    }
  }
}
